menu "VL53L3CX" 
    config VL53L3CX_ADDRESS
        hex
        prompt  "VL53L3CX Time-of-Flight ranging sensor with multi target detection Address"
        default 0x29
    config VL53_SHUTDONW_PIN
        int "SHUTDONW Pin"
        default 13
    config VL53_INTERRUPT_PIN
        int "INTERRUPT Pin"
        default 11     
endmenu